from kivy.uix.screenmanager import Screen
from kivy.lang import Builder
from kivy.app import App
app = App.get_running_app()


class {screen_camel}(Screen):
    pass


Builder.load_file('{screen_snake}.kv')
