<{screen_camel}>:
    name: '{screen_snake}'

    GridLayout:
        cols: 1
        canvas.before:
            Color:
                rgba: 0.95, 0.95, 0.95, 1
            Rectangle:
                pos: self.pos
                size: self.size
